<?xml version="1.0" encoding="UTF-8"?>

<configuration status="INFO">
    <appenders>
        <File filename="logs/exceptions.log" name="Exceptions">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="EXCEPTIONS"/>
            </Filters>
        </File>
        <File filename="logs/info.log" name="Info">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="INFO"/>
            </Filters>
        </File>

    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="Exceptions"/>
            <appender-ref ref="Info"/>
        </root>
    </loggers>
</configuration>