<?xml version="1.0" encoding="UTF-8"?>

<configuration status="WARN">

    <appenders>

        <File fileName="logs/search.log" name="SearchFile">

    <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>


    <Filters>

    <ThresholdFilter onMismatch="NEUTRAL" onMatch="DENY" level="warn"/>

</Filters>

</File>

</appenders>


    -<loggers>


    <root level="info">

    <appender-ref level="info" ref="SearchFile"/>

</root>

</loggers>

</configuration>