<?xml version="1.0" encoding="UTF-8"?>

<configuration status="INFO">
    <appenders>

        <File filename="logs/search.log" name="SearchFile">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="INPUT_HISTORY"/>
            </Filters>
        </File>

        <File filename="logs/input_errors.log" name="InvalidStations">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="INVALID_STATIONS"/>
            </Filters>
        </File>

        <File filename="logs/exceptions.log" name="Exceptions">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="EXCEPTIONS"/>
            </Filters>
        </File>

    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="SearchFile"/>
            <appender-ref ref="InvalidStations"/>
            <appender-ref ref="Exceptions"/>
        </root>
    </loggers>
</configuration>